*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #3CA55C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center;
}

#unosImena{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 892px;
    width: 412px;
}

.imena{
   position: relative;
   top:-400px;
   left: 30px;
}

input{
    position: relative;
    top: 20px;
    border: 2px solid black;
    text-align:center;
    resize: none;
    width: 80px;
    height: 25px;
}

#unesii{
    height: 30px;
    width: 70px;
    position: relative;
    top: -200px;
    left: -180px;
}

#igra{
    display: none;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    height: 892px;
    justify-content: center;
    width: 412px;
    grid-gap: 10px;
}

#igra .kutija{
    background-color: rgb(255, 255, 255);
}

.kutija{
    text-align: center;
    height: 25px;
    width: 80px;
    margin: 10px;
    border: 1px solid black;
}

h5{
    position: relative;
    top: 4px;
}

#dalje{
    position: relative;
    width: 100px;
    height: 50px;
    top: 0px;
    left:130px;
}

.plac{
    position: relative;
    left: 10px;
}

.bule{
    position: relative;
    left: -80px;
    top: 70px;
    width: 340px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bule button{
    background-color: black;
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 60px;
}

#prikaz-bule{
    display: none;
    grid-template-columns: repeat(4, 1fr);
}

#nazad{
    background-color: black;
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 60px;
    position: relative;
    top: 200px;
    left: 170px;
}